  {% extends 'base.html'%}
{% block css %}
<style>
  body{
    background-color: rgb(252, 248, 248);
    
  }
</style>
{% endblock %}

{% block body %}
<section class="banner-area relative ">
  <div class="container" >
      <div class="row height align-items-center justify-content-center">
          <div class="banner-content col-lg-6">
              <h1>CUISINES</h1>
              <hr>
              
          </div>
      </div>
  </div>
</section>

<form method="post">
<div class="row">
    
    <div class="col-md-3">
      <div class="thumbnail">
        <a href="static/img/CUSINE/chinese.jpg" target="_blank">
            <img src="static/img/CUSINE/chinese.jpg" alt="Nature" style="width:100%">
        </a>  
          <center><input type="submit" name="submit_button" class="btn btn-dark" style="width: 100%;" id="chinese" value="CHINESE"></center>
      </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
          <a href="static/img/CUSINE/ITALIAN.jpg" target="_blank">
              <img src="static/img/CUSINE/ITALIAN.jpg" alt="Nature" style="width:100%">
          </a>
        <center><input type="submit" name="submit_button" class="btn btn-dark" style="width: 100%;" id="italian" value="ITALIAN"></center>
        </div>
      </div>

      <div class="col-md-3">
        <div class="thumbnail">
          <a href="static/img/CUSINE/NORTH_INDIAN.jpg" target="_blank">
              <img src="static/img/CUSINE/NORTH_INDIAN.jpg" alt="Nature" style="width:100%">
          </a>
            <center><input type="submit" name="submit_button" class="btn btn-dark" style="width: 100%;" id="north_indian" value="NORTH_INDIAN"></center>
        </div>
      </div>

      <div class="col-md-3">
        <div class="thumbnail">
          <a href="static/img/CUSINE/BAKERY.jpg" target="_blank">
              <img src="static/img/CUSINE/BAKERY.jpg" alt="Nature" style="width:100%">
          </a>
            <center><input type="submit" name="submit_button" class="btn btn-dark" style="width: 100%;" id="bakery" value="BAKERY"></center>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="thumbnail">
          <a href="static/img/CUSINE/MUGHLAI.jpg" target="_blank">
              <img src="static/img/CUSINE/MUGHLAI.jpg" alt="Nature" style="width:100%">
          </a>
            <center><input type="submit" name="submit_button" class="btn btn-dark" style="width: 100%;" id="mughlai" value="MUGHLAI"></center>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="thumbnail">
          <a href="static/img/CUSINE/CONTINENTAL1.jpg" target="_blank">
              <img src="static/img/CUSINE/CONTINENTAL1.jpg" alt="Nature" style="width:100%">
          </a>
            <center><input type="submit" name="submit_button" class="btn btn-dark" style="width: 100%;" id="continental" value="CONTINENTAL"></center>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="thumbnail">
          <a href="static/img/CUSINE/FASTFOOD1.jpg" target="_blank">
              <img src="static/img/CUSINE/FASTFOOD1.jpg" alt="Nature" style="width:100%">
          </a>
            <center><input type="submit" name="submit_button" class="btn btn-dark" style="width: 100%;" id="FASTFOOD" value="FASTFOOD"></center>
        </div>
      </div>

      <div class="col-md-3">
        <div class="thumbnail">
          <a href="static/img/CUSINE/SI.jpg" target="_blank">
              <img src="static/img/CUSINE/SI.jpg" alt="Nature" style="width:100%">
          </a>
            <center><input type="submit" name="submit_button" class="btn btn-dark" style="width: 100%;" id="south_indian" value="SOUTH INDIAN"></center>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="thumbnail">
          <a href="static/img/CUSINE/sweets.jpg" target="_blank">
              <img src="static/img/CUSINE/sweets.jpg" alt="Nature" style="width:100%">
          </a>
            <center><input type="submit" name="submit_button" class="btn btn-dark" style="width: 100%;" id="sweets" value="SWEETS"></center>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="thumbnail">
          <a href="static/img/CUSINE/mexican.jpg" target="_blank">
              <img src="static/img/CUSINE/mexican.jpg" alt="Nature" style="width:100%">
          </a>
            <center><input type="submit" name="submit_button" class="btn btn-dark" style="width: 100%;" id="mexican" value="MEXICAN"></center>
        </div>
      </div>
      
      <div class="col-md-3">
        <div class="thumbnail">
          <a href="static/img/CUSINE/bbq.jpg" target="_blank">
              <img src="static/img/CUSINE/bbq.jpg" alt="Nature" style="width:100%">
          </a>
            <center><input type="submit" name="submit_button" class="btn btn-dark" style="width: 100%;" id="bbq" value="BBQ"></center>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <a href="static/img/CUSINE/BEVERAGES.jpg" target="_blank">
              <img src="static/img/CUSINE/BEVERAGES.jpg" alt="Nature" style="width:100%">
          </a>
            <center><input type="submit" name="submit_button" class="btn btn-dark" style="width: 100%;" id="beverages" value="BEVERAGES"></center>
        </div>
      </div>
            
      
      
      
            
     
    

    </div>
  </div>
</div>
</form>



{% endblock %}