{% extends 'base.html' %}

{% block css %}
<style>
  body{
    background-color: rgb(252, 248, 248);
    
  }
</style>
{% endblock %}

{% block body %}
<div style=" position: relative; top: 150; background-repeat: no-repeat; padding-bottom: 5%; 
background-image: url(/static/img/header-bg-login.png); opacity:1; align-items: center; justify-content: center">
<div class="container" style="padding-bottom: 2%; opacity: 0.9" >
  <div class="row justify-items-center">
    <div class="col-md-6 mt-3 mx-auto">
      {% include "notify.html" %}
      <div class="card shadow-lg border-0">
        <div class="card-header">
          <h3 class="display-4"><i class="fas fa-user-shield text-primary"></i>  Sign In </h3>
        </div>
        <div class="card-body">
          <h3 class="card-title">Fill in your credentials</h3>  
          <form method="post">
            <div class="form-group">
              <label for="username">username</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-primary" id="basic-addon1"><i class="fas fa-user text-white"></i></span>
                </div>
                <input type="username" class="form-control" name="username" id="username" aria-describedby="usernameHelpId" placeholder="digi_flasker">
              </div>
              <small id="usernameHelpId" class="form-text text-muted">enter registered username</small>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-primary" id="basic-addon2"><i class="fas fa-key text-white"></i></span>
                </div>
                <input type="password" class="form-control" name="password" id="password" aria-describedby="password" placeholder="the password">
              </div>
            </div>
            
            <button class="btn btn-outline-primary btn-lg btn-block mt-5 mb-3">Submit <i class="fa fa-arrow-right" aria-hidden="true"></i> </button>
            <a href="/forgot" class="lead">Forgot Password ?</a>
          </form>
        </div>
        <div class="card-footer bg-secondary">
          <h4 class="text-white">New Here</h4>
          
          <p class="card-text text-white">
            It's free to join and easy to use. Continue on to create your account
          </p>
          <a name="" id="" class="btn btn-primary" href="/register">Join Free</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>





<section class="reservation-area"   style=" position: relative; background-repeat: no-repeat;
      background-image: url(/static/img/header-bg-login.png);  opacity:1; align-items: center; justify-content: center">
        <div class="container"  style="padding-bottom: 1%; opacity: 0.9">
          <div class="row align-items-center">
            <div class="col-lg-7 col-md-6" style="padding: 50px 50px 150px 50px">
              
              <form class="booking-form" id="myForm" action="">
                <h2 class="mb-30">Registration Form</h2>
    
                <div class="row">
                  <div class="col-lg-12 d-flex flex-column mb-20">
                    <input name="event-name" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Event Name'"
                     class="form-control" required="" type="text">
                     <small id="usernameHelpId" class="form-text text-muted">enter registered username</small>
                  </div>
    
                  
                  <div class="col-lg-12 d-flex flex-column mb-20">
                    <input name="contact-name" placeholder="password " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contact Name'"
                     class="form-control" required="" type="text">
                     <small id="usernameHelpId" class="form-text text-muted">enter your password</small>
                  </div>
                  
                  <div class="col-lg-12 d-flex justify-content-center " >
                    <button class="primary-btn dark mt-30 text-uppercase">LOGIN</button>
                  </div>

                  


                  <div class="row justify-content-between">
                   
                  <div class="col-sm-9 ">
                  <!-- <div class="col-lg-12 d-flex justify-content-left"> -->
                    <button class="primary-btn dark mt-30 text-uppercase">Forgot password</button>
                  </div>
                  
                  <div class="col-sm-3 ">
                  <!-- <div class="col-lg-12 d-flex justify-content-end"> -->
                    <button class="primary-btn dark mt-30 text-uppercase">Register</button>
                  </div>
                

                  </div>


                  <div class="alert-msg"></div>
                </div>
    
                
              </form>
            </div>
            <div class="offset-lg-1 col-lg-4 col-md-6" >
              <div class="section-title relative" >
                <b><i><h1 style="color: whitesmoke;" >
                  LOGIN TO <br>
                  GAIN <br>
                  ACCESS TO ENHANCED <br>
                  FEATURES 
                  
                </h1>
                </i></b>
              </div>
            </div>
            </div>
            </div>
            </section>






{% endblock %}