<header class="header-area">
  <div class="container">
    <div class="header-wrap">
      <div class="header-top d-flex justify-content-between align-items-center navbar-expand-md">
        <div class="col menu-left">
          <a class="active" href="/index">RESTAURANT RECOMMENDATION SYSTEM</a>
          
        </div>
        <div class="col-3 logo">
          <!-- <a href="index.html"><img class="mx-auto" src="img/logo.png" alt=""></a> -->
        </div>
        <nav class="col navbar navbar-expand-md justify-content-end">

          <!-- Toggler/collapsibe Button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="lnr lnr-menu"></span>
          </button>

          <!-- Navbar links -->
          <div class="collapse navbar-collapse menu-right" id="collapsibleNavbar">
            <ul class="navbar-nav justify-content-center w-100">
              <li class="nav-item hide-lg">
                <a class="nav-link" href="/index">Home</a>
              </li>
              
              
              <!-- Dropdown -->
              {% if current_user.is_anonymous %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Guest
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/login">Login</a>
                  <a class="dropdown-item" href="/register">New User</a>
                </div>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/search">Search</a>
              </li>

              
              
              {% else %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Account
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/profile">User Profile</a>
                  <a class="dropdown-item" href="/history">User history</a>
                  <a class="dropdown-item" href="/logout">Logout</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Explore
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/cuisine">Cuisine </a>
                  <a class="dropdown-item" href="price">Budget Friendly</a>
                  <a class="dropdown-item" href="top_rest">Top Restaurants</a>
                  
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/feature_selection">Compare</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!--================ End Header Area =================-->

