{% extends 'base.html' %}
{% block body %}



	

		<!--================ Start banner Area =================-->
        <section class="banner-area relative">
            <div class="container">
                <div class="row height align-items-center justify-content-center">
                    <div class="banner-content col-lg-5">
                        <h1>SEARCH</h1>
                        <hr>
                        
                    </div>
                </div>
            </div>
        </section>

    

    
     
        <!-- Start Sample Area -->
        <section class="sample-text-area">
            <div class="container">
                <h3 class="text-heading">Text Sample</h3>
                <p class="sample-text">
                    Every avid independent filmmaker has <b>Bold</b> about making that <i>Italic</i> interest documentary, or short
                    film
                    to show off their creative prowess. Many have great ideas and want to “wow” the<sup>Superscript</sup> scene, or
                    video
                    renters with their big project. But once you have the<sub>Subscript</sub> “in the can” (no easy feat), how do you
                    move
                    from a <del>Strike</del> through of master DVDs with the <u>“Underline”</u> marked hand-written title inside a
                    secondhand
                    CD case, to a pile of cardboard boxes full of shiny new, retail-ready DVDs, with UPC barcodes and polywrap sitting
                    on
                    your doorstep? You need to create eye-popping artwork and have your project replicated. Using a reputable full
                    service
                    DVD Replication company like PacificDisc, Inc. to partner with is certainly a helpful option to ensure a
                    professional
                    end result, but to help with your DVD replication project, here are 4 easy steps to follow for good DVD replication
                    results:
    
                </p>
            </div>
        </section>


        <section class="top-category-widget-area pt-90 pb-90" id="menu_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-cat-widget">
                            <div class="content relative">
                                <div class="overlay overlay-bg"></div>
                                <a href="#" target="_blank">
                                    <div class="thumb">
                                        <img class="content-image img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/blog/cat-widget1.jpg') }}" alt="">
                                    </div>
                                    <div class="content-details">
                                        <h4 class="content-title mx-auto text-uppercase">Social life</h4>
                                        <span></span>
                                        <p>Enjoy your social life together</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-cat-widget">
                            <div class="content relative">
                                <div class="overlay overlay-bg"></div>
                                <a href="#" target="_blank">
                                    <div class="thumb">
                                        <img class="content-image img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/blog/cat-widget2.jpg') }}" alt="">
                                    </div>
                                    <div class="content-details">
                                        <h4 class="content-title mx-auto text-uppercase">Politics</h4>
                                        <span></span>
                                        <p>Be a part of politics</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-cat-widget">
                            <div class="content relative">
                                <div class="overlay overlay-bg"></div>
                                <a href="#" target="_blank">
                                    <div class="thumb">
                                        <img class="content-image img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/blog/cat-widget3.jpg') }}" alt="">
                                    </div>
                                    <div class="content-details">
                                        <h4 class="content-title mx-auto text-uppercase">Food</h4>
                                        <span></span>
                                        <p>Let the food be finished</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="top-category-widget-area pt-90 pb-90 ali " id="menu_area"  >
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-cat-widget">
                            <div class="content relative">
                                <div class="overlay overlay-bg"></div>
                                <a href="#" target="_blank">
                                    <div class="thumb">
                                        <img class="content-image img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/blog/cat-widget1.jpg') }}" alt="">
                                    </div>
                                    <div class="content-details">
                                        <h4 class="content-title mx-auto text-uppercase">Social life</h4>
                                        <span></span>
                                        <p>Enjoy your social life together</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-cat-widget">
                            <div class="content relative">
                                <div class="overlay overlay-bg"></div>
                                <a href="#" target="_blank">
                                    <div class="thumb">
                                        <img class="content-image img-fluid d-block mx-auto" src="{{ url_for('static', filename='img/blog/cat-widget2.jpg') }}" alt="">
                                    </div>
                                    <div class="content-details">
                                        <h4 class="content-title mx-auto text-uppercase">Politics</h4>
                                        <span></span>
                                        <p>Be a part of politics</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            </section>

            <div class="col-lg-3 col-md-4 mt-sm-30 element-wrap">
                <div class="single-element-widget">
                    <h3 class="mb-30">Switches</h3>
                    <div class="switch-wrap d-flex justify-content-between">
                        <p>01. Sample Switch</p>
                        <div class="primary-switch">
                            <input type="checkbox" id="default-switch">
                            <label for="default-switch"></label>
                        </div>
                    </div>
                    <div class="switch-wrap d-flex justify-content-between">
                        <p>02. Primary Color Switch</p>
                        <div class="primary-switch">
                            <input type="checkbox" id="primary-switch" checked>
                            <label for="primary-switch"></label>
                        </div>
                    </div>
                    <div class="switch-wrap d-flex justify-content-between">
                        <p>03. Confirm Color Switch</p>
                        <div class="confirm-switch">
                            <input type="checkbox" id="confirm-switch" checked>
                            <label for="confirm-switch"></label>
                        </div>
                    </div>
                </div>


                <div class="container" style="padding-top: 5%;">
                    <div class= "row" >
                    <p> HELLO </p>
                    <P>HOW ARE YOU</P>
                    <h4> sab badhiya? </h4>
                    </div>
                </div>

{% endblock %}