{% extends 'base.html' %}
{% block css %}
<style>
    body{
        background-color: rgb(252, 248, 248);   
    }
</style>
{% endblock %}
{% block body %}





<!--================ Start banner Area =================-->
<section class="banner-area relative">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="banner-content col-lg-5">
                <h1>Your recommendation based on your history</h1>
                <hr>
                
            </div>
        </div>
    </div>
</section>

<div class="container" >
    <section class="sample-text-area" style="padding-top: 0">
        {% if data %}
        <div class="row">
            <div class="col-12 mt-5">
                <p class="lead text-center">
                    The recommendation score is <b>{{score}}</b> ,(higher the score the better the recommendation)
                </p>
                
            </div>
        </div>
        <div class="row">
            {% for item in data %}
            <div class="col-8 mt-2 mx-auto">
                <div class="card text-center">
                    <div class="card-body">
                        <div class="card-title">
                            <h1 class="display-4">{{item}}</h1>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}    
        </div>
        {% else %}
        <div class="row">
            <div class="col-12">
                <h1 class="display-3 text-center">No recommedation for you</h1>
            </div>
        </div>
        {% endif %}
    </section>
</div>



{% endblock %}